{% extends 'root.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ position_count }}</h3>
                    <p>No. of Positions</p>
                </div>
                <div class="icon">
                    <i class="fa fa-tasks"></i>
                </div>
                <a href="{% url 'viewPositions' %}"
                    class="small-box-footer">More Info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ candidate_count }}</h3>
                    <p>No. of Candidates</p>
                </div>
                <div class="icon">
                    <i class="fa fa-black-tie"></i>
                </div>
                <a href="{% url 'viewCandidates' %}"
                    class="small-box-footer">More Info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ voters_count }}</h3>
                    <p>Total Voters</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'adminViewVoters' %}"
                    class="small-box-footer">More Info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>{{ voted_voters_count }}</h3>
                    <p>Voters Voted</p>
                </div>
                <div class="icon">
                    <i class="fa fa-edit"></i>
                </div>
                <a href="{% url 'viewVotes' %}" class="small-box-footer">More
                    Info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Vote Detail
                <span class="pull-right">
                    <a href="{% url 'printResult' %}"
                        class="btn btn-success btn-sm btn-flat">
                        <span class="glyphicon glyphicon-print"></span>
                        Print/Download PDF <i class="fa fa-download"></i>
                    </a>
                </span>
            </h3>
        </div>
    </div>

    
    <!-- Main content -->
<section class="content">
    <!-- Existing content -->

    {% comment %} {% for position in positions %} {% endcomment %}
    {% comment %} <div class='row'>
        <div class='col-sm-6'>
            <div class='box box-solid'>
                <div class='box-header with-border'>
                    <h4 class='box-title'><b>{{ position.name }}</b></h4>
                </div>
                <div class='box-body'>
                    <!-- Canvas for chart -->
                    <canvas id='{{ position.name|slugify }}Chart' style='height:200px'></canvas>
                    <ul>
                        <!-- List of nominated candidates -->
                        {% for nominated_candidate in approved_candidates %}
                        {% if nominated_candidate.position == position.name %}
                        <li>{{ nominated_candidate.fullname }} - {{ nominated_candidate.position }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <div>
        <canvas id="myChart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for position, data in chart_data.items %}
                        '{{ position.name }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {% for position, data in chart_data.items %}
                            {% for votes in data.votes %}
                                {{ votes }},
                            {% endfor %}
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    

    {% comment %} {% endfor %} {% endcomment %}
</section>

{% endblock %}
{% comment %} 
<!-- Include Chart.js library -->
<script src="{% static 'static\bower_components\chart.js\Chart.js' %}"></script>

<!-- JavaScript to render charts -->
<script>
    {% for position in positions %}
    // Data for chart (example)
    var {{ position.name|slugify }}Data = {
        labels: ['Candidate 1', 'Candidate 2', 'Candidate 3'], // Labels for each bar
        datasets: [{
            label: 'Votes',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            borderWidth: 1,
            data: [10, 20, 30] // Number of votes for each candidate (adjust this with your real data)
        }]
    };

    // Get canvas element
    var {{ position.name|slugify }}Ctx = document.getElementById('{{ position.name|slugify }}Chart').getContext('2d');

    // Render bar chart
    var {{ position.name|slugify }}Chart = new Chart({{ position.name|slugify }}Ctx, {
        type: 'bar',
        data: {{ position.name|slugify }}Data,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    {% endfor %}
</script>

</section>
{% endblock content %}
 {% endcomment %}
