{% load static %}
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
  <div style="margin-top: -50px;" class="text-center font-weight-bold h1">
    {{ title }} Result
  </div>
  {% for key, value in positions.items %}
    {% if value.candidate_data %}
      <table id="example1" class="text-center table table-bordered">
        <tr>
          <th class="text-center" style="width: 5%;">#</th>
          <th class="text-center" style="width: 60%;">Candidate Name</th>
          <th class="text-center" style="width: 35%;">Total Votes Recorded</th>
        </tr>
        {% for data in value.candidate_data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.votes }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No Candidates Voted For This Position</td>
          </tr>
        {% endfor %}
      </table>
      {% if value.candidate_data %}
        {% with value.candidate_data|dictsort:"votes" as sorted_candidates %}
          {% with sorted_candidates|last as winner %}
            <p>Winner: {{ winner.name }}</p>
          {% endwith %}
        {% endwith %}
      {% endif %}
    {% endif %}
  {% endfor %}
</body>
</html>
