<section data-bs-version="5.1" class="footer2 cid-u6OHFo9wSS" once="footers"
        id="footer-5-u6OHFo9wSS">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 center mt-2 mb-3">
                    <p class="mbr-fonts-style copyright mb-0 display-7">© 2024
                        Haramaya University. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-lg-6 center">
                </div>
            </div>
        </div>
    </section>