<!DOCTYPE html>
<html>
<head>
    <!-- Your head content here -->
</head>
<body>
    <section data-bs-version="5.1" class="header18 cid-u6OHFo3iOj mbr-fullscreen">
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-12">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                        <strong>{{ welcome_message }}</strong>
                    </h1>
                    
                    <!-- Rest of your content -->
                </div>
            </div>
        </div>
    </section>
    <!-- Additional sections and content -->

</body>
</html>
