{% extends 'bmroot.html' %}
{% block content %}
{% include "bmaside.html" %}
<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-md-8" style="padding-left: 100px;">
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <!-- Website Announcement -->
                    <div class="col-12">
                        <a href="#" data-toggle="lightbox" data-title="Announce result at the website" data-gallery="gallery">
                            <div class="card">
                                <div class="card-body">
                                    <label for="websiteAnnouncement" class="form-check-label fw-bold"><h2>Announce result at the website</h2></label>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <button form="websiteAnnouncementForm" type="button" class="btn btn-primary btn-block"><strong>Announce<strong></button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <br><br>
                    <!-- Email Announcement -->
                    <div class="col-12">
                        <a href="#" data-toggle="lightbox" data-title="Announce the result in email" data-gallery="gallery">
                            <div class="card">
                                <div class="card-body">
                                    <label for="emailAnnouncement" class="form-check-label fw-bold"><h2>Announce the result in email</h2></label>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <button form="emailAnnouncementForm" type="button" class="btn btn-primary btn-block"><strong>Announce<strong></button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
