<aside class="main-sidebar">
    <!-- Sidebar content -->
    <section class="sidebar">
        <!-- Sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active"><a href="{% url 'Dashboard' %}"><i
                        class="fa fa-dashboard"></i>
                    <span>Dashboard</span></a></li>
            <li><a href="{% url 'voters' %}"><i class="fa fa-users"></i>
                    <span>Voters</span></a></li>
            <li><a href=""><i class="fa fa-users"></i>
                    <span>Senate Members</span></a></li>
            <li><a href="{% url 'viewnominatedcandidate' %}"><i
                        class="fa fa-tasks"></i> <span>Nominated
                        Candidates</span></a></li>
            <li><a href="{% url 'Candidate' %}"><i
                        class="fa fa-black-tie"></i>
                    <span>Candidates</span></a></li>
            <li><a href="{% url 'votes' %}"><i class="fa fa-edit"></i>
                    <span>Votes</span></a></li>
           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>