<aside class="main-sidebar">
    <!-- Sidebar content -->
    <section class="sidebar">
        <!-- Sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active"><a href="{% url 'board_member_dashboard' %}"><i
                        class="fa fa-dashboard"></i>
                    <span>Dashboard</span></a></li>
        <li class=""><a href="{% url 'view_Position' %}"><i class="fa fa-tasks"></i> <span>Positions</span></a></li>
            <li><a href="{% url 'voters' %}"><i class="fa fa-users"></i>
                    <span>Voters</span></a></li>
            <li><a href="{% url 'nominationposts' %}"><i
                        class="fa fa-black-tie"></i>
                    <span> Nomination</span></a></li>
            <li><a href="{% url 'viewnominatedcandidate' %}"><i
                        class="fa fa-tasks"></i> <span>Nominated
                        Candidates</span></a></li>
            <li><a href="{% url 'viewSenateMembers' %}"><i
                        class="fa fa-users"></i>
                    <span>Senate Members</span></a></li>
            <li><a href="{% url 'Candidateview' %}"><i class="fa fa-black-tie"></i>
                    <span>Candidates</span></a></li>
            <li><a href="{% url 'electionposts' %}"><i
                        class="fa fa-black-tie"></i>
                    <span> Election</span></a></li>
            <li><a href="{% url 'view_Vote' %}"><i class="fa fa-edit"></i>
                    <span>Votes</span></a></li> 
            <li><a href="{% url 'result' %}"><i class="fa fa-edit"></i>
                        <span>Announce Result</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>