{% extends 'bmroot.html' %}
{% block content %}
<section class="content">
    {% include "bmaside.html" %}
    <h3>Candidates</h3>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <br>
                <div class="box-body">
                    <table id="example1"
                        class="table table-bordered table-hover table-striped">
                        <thead style="background-color: #222D32; color:white;">
                            <th>Full Name</th>
                            <th>Position</th>
                            <th>Campaign Message</th>
                            <th>Photo</th>
                            {% comment %} <th>Action</th> {% endcomment %}
                        </thead>
                        <tbody>
                            {% for nominated_candidate in approved_candidates %}
                            <tr>
                                <td>{{ nominated_candidate.fullname }}</td>
                                <td>{{ nominated_candidate.position }}</td>
                                <td>
                                    {% for message in nominated_candidate.campaignmessage_set.all %}
                                        {% if message.candidate.fullname == nominated_candidate.fullname %}
                                            {{ message.message }}
                                        {% endif %}
                                    {% endfor %}
                                </td>              
                                <td><img src="/media/uploads/images/{{candidate.photo}}" height=50px width=auto></td>
                                {% comment %} <td>
                                    <button class='btn btn-primary btn-sm edit btn-flat approve-btn'
                                        data-id='{{ nominated_candidate.id }}'>
                                        <i class='fa fa-check'></i> Edit
                                    </button>
                                </td> {% endcomment %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
