{% extends 'bmroot.html' %}

{% block content %}
<section class="content">
    {% include "bmaside.html" %}

    <div class="row">
  <div class="col-xs-12">
  <div class="box">

  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-striped">
      <thead style="background-color: #222D32; color:white;">
            <th>Full Name</th>
            <th>Position</th>
            <th>Bio</th>
            <th>Avatar</th>
        </thead>
        <tbody>
      {% for candidate in candidates %}
        
      <tr>
        <td>{{ candidate.fullname }}</td>
        <td>{{ candidate.position }}</td>
        <td>{{ candidate.bio }}</td>
        <td><img src="/media/{{ candidate.photo }}" width="80" height="80" alt="{{ candidate.fullname }}'s Avatar" class="img img-fluid"></td>
        
      
      </tr>
      {% endfor %}      
  
                              </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  {% endblock content %}
  
 
  
  
  
  
  {% block custom_js %}
    
  <script>
    $(function() {
        $(document).on('click', '.edit', function(e) {
            e.preventDefault();
            $('#edit').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });
  
        $(document).on('click', '.delete', function(e) {
            e.preventDefault();
            $('#delete').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });
  
  
    });
  
    function getRow(id) {
        $.ajax({
            type: 'GET',
            url: '{% url "viewCandidate" %}',
            data: {
                id: id
            },
            dataType: 'json',
            success: function(response) {
              $('.id').val(id),
                $('.display_form').html(response.form);
                $('.fullname').html(response.fullname);
            },
           
        });
    }
    </script>
  {% endblock custom_js %}