{% extends 'bmroot.html' %}
{% block content %}
{% include "bmaside.html" %}
<section class="content">
    {% comment %} <h3>Nomination Post</h3> {% endcomment %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="#addnewNominationPost" data-toggle="modal" class="btn btn-success btn-sm btn-flat"><i class="fa fa-plus"></i> Add New</a>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover table-striped">
                        <thead style="background-color: #222D32; color:white;">
                            <th>Start Time</th>
                            <th>Start Date</th>
                            <th>Ending Time</th>
                            <th>Ending Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for nomination_post in nominationposts %}
                            <tr>
                                <td>{{ nomination_post.start_time }}</td>
                                <td>{{ nomination_post.start_date }}</td>
                                <td>{{ nomination_post.end_time }}</td>
                                <td>{{ nomination_post.end_date }}</td>
                                <td>
                                    {% if not nomination_post.is_posted %}
                                    <form method="post" class="me-3">
                                        {% csrf_token %}
                                        <input type="hidden" name="post" value="{{ nomination_post.id }}">
                                        <button type="submit" class="btn btn-success me-4">
                                            <i class="fas fa-edit"></i> Activate
                                        </button>
                                    </form>
                                    {% else %}
                                    <form method="post" class="me-3">
                                        {% csrf_token %}
                                        <input type="hidden" name="unpost" value="{{ nomination_post.id }}">
                                        <button type="submit" class="btn btn-danger me-4">
                                            <i class="fas fa-edit"></i> Deactivate
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class='btn btn-primary btn-sm edit btn-flat' data-id='{{ nomination_post.id }}'><i class='fa fa-edit'></i> Edit</button>
                                    <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ nomination_post.id }}'><i class='fa fa-trash'></i> Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Add New Modal -->
<div class="modal fade" id="addnewNominationPost">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Add a Nomination Post</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{% url 'nominationposts' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="submit" class="btn btn-success btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Edit Nomination Post</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{% url 'nomination_post_update' %}">
                    {% csrf_token %}
                    <input type="hidden" class="id" name="id">
                    <div class="form-group">
                        <label for="start_time" class="col-sm-3 control-label">Start Time</label>
                        <div class="col-sm-9">
                            <input type="time" class="form-control" id="start_time" name="start_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="start_date" class="col-sm-3 control-label">Start Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="start_date" name="start_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end_time" class="col-sm-3 control-label">End Time</label>
                        <div class="col-sm-9">
                            <input type="time" class="form-control" id="end_time" name="end_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end_date" class="col-sm-3 control-label">End Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="end_date" name="end_date">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="submit" class="btn btn-success btn-flat" name="edit"><i class="fa fa-check-square-o"></i> Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Deleting...</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{% url 'nomination_post_delete' %}">
                    <input type="hidden" class="id" name="id">
                    {% csrf_token %}
                    <div class="text-center">
                        <p>DELETE Nomination Post</p>
                        <h2 class="bold fullname"></h2>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="submit" class="btn btn-danger btn-flat" name="delete"><i class="fa fa-trash"></i> Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modal %}

{% block custom_js %}
<script>
    $(function() {
        $(document).on('click', '.edit', function(e) {
            e.preventDefault();
            $('#edit').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });

        $(document).on('click', '.delete', function(e) {
            e.preventDefault();
            $('#delete').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });
    });

    function getRow(id) {
        $.ajax({
            type: 'GET',
            url: '{% url "nomination_post_by_id" %}', // URL to fetch the nomination post data
            data: {
                id: id
            },
            dataType: 'json',
            success: function(response) {
                if (response.code === 200) {
                    $('.id').val(response.id);
                    $('#edit #start_time').val(response.start_time);
                    $('#edit #start_date').val(response.start_date);
                    $('#edit #end_time').val(response.end_time);
                    $('#edit #end_date').val(response.end_date);
                    $('.fullname').html(response.start_date + ' - ' + response.end_date);
                } else {
                    alert("Failed to fetch data");
                }
            }
        });
    }
</script>
{% endblock custom_js %}
