{% extends 'bmroot.html' %}

{% block content %}
<section class="content">
  {% include "bmaside.html" %}
      <h3>Senate Members List</h3>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example1"
                        class="table table-bordered table-hover table-striped">
                        <thead style="background-color: #222D32; color:white;">
                            <th>Id Number</th>
                            <th>Firstname</th>
                            <th>Middlename</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Cgpa</th>
                            {% comment %} <th>Action</th> {% endcomment %}
                        </thead>
                        <tbody>
                            {% for senate_member in senate_members %}
                            <tr>
                                <td>{{ senate_member.id_number }}</td>
                                <td>{{ senate_member.first_name }}</td>
                                <td>{{ senate_member.middle_name }}</td>
                                <td>{{ senate_member.last_name }}</td>
                                <td>{{ senate_member.email }}</td>
                                <td>{{ senate_member.phone_number }}</td>
                                <td>{{ senate_member.cgpa }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
