{% extends 'voting/base.html' %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-info">
    <div class="card-body">
      <h2 class="login-box-msg text-info"><i class="fas fa-envelope text-info"></i>
        
        <br> <span class="text-muted"> Password Reset Email Sent</span></h2>

      <p>An email with instructions on how to reset your password has been sent to your email address.</p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
