{% extends 'voting/base.html' %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-info">
    <div class="card-body">
      <h2 class="login-box-msg text-muted">Password Reset</h2>
      <p>Enter your email address below to receive a password reset link.</p>
      
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-info btn-block">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
