{% extends 'root.html' %}
{% comment %} {% include "sidebar.html" %} {% endcomment %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="">
    <!-- Sidebar -->
    {% include "caside.html" %}
    
    {% load static %}
    <!-- Main content -->
    <section class="content"> <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6"> <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ position_count }}</h3>
                        <p>No. of Positions</p>
                    </div>
                    <div class="icon"> <i class="fa fa-tasks"></i> </div> <a
                        href="{% url 'viewPositions' %}"
                        class="small-box-footer">More Info <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div> <!-- ./col -->
            <div class="col-lg-3 col-xs-6"> <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ candidate_count }}</h3>
                        <p>No. of Candidates</p>
                    </div>
                    <div class="icon"> <i class="fa fa-black-tie"></i> </div> <a
                        href="{% url 'viewCandidates' %}"
                        class="small-box-footer">More Info <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div> <!-- ./col -->
            <div class="col-lg-3 col-xs-6"> <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ voters_count }}</h3>
                        <p>Total Voters</p>
                    </div>
                    <div class="icon"> <i class="fa fa-users"></i> </div> <a
                        href="{% url 'adminViewVoters' %}"
                        class="small-box-footer">More Info <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div> <!-- ./col -->
           
        </div>
    </section> {% endblock content %} 