<aside class="main-sidebar">
    <!-- Sidebar content -->
    <section class="sidebar">
        <!-- Sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            
            {% comment %} <li class="active"><a href="{% url 'candidatedashboard' %}"><i class="fa fa-dashboard"></i>  {% endcomment %}
            {% comment %} <span>Dashboard</span></a></li> {% endcomment %}
            
            {% comment %} <li><a href="{% url 'post_campaign_message' %}"><i class="fa fa-users"></i>
                <span>Campaign Post</span></a></li>
            <li><a href="{% url 'view_campaign_messages' %}"><i class="fa fa-users"></i>
                <span>View Campaign</span></a></li> {% endcomment %}
                
            <li><a href="{% url 'result_page' %}"><i class="fa fa-users"></i>
                <span>Result</span></a></li>
            
            {% comment %} <li><a href="{% url 'viewcandidate' %}"><i class="fa fa-users"></i>
                <span>View Candidate</span></a></li> {% endcomment %}

            <li><a href="{% url 'send_complaint' %}"><i class="fa fa-envelope"></i>
                <span>Send Complaint</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
