{% extends 'croot.html' %}
{% block content %}
<!-- Main content -->
<section class="content">
    {% include "caside.html" %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Campaign Messages</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% for message in messages %}
                    <div class="message">
                        <div class="message-header">
                            <h4>{{ message.candidate }}:</h4>
                            <p class="posted-at">Posted at: {{ message.created_at }}</p>
                        </div>
                        <div class="message-content">
                            <p>{{ message.message }}</p>
                        </div>
                        <!-- Button trigger modal for editing message -->
                        <button type="button" class="btn btn-primary btn-edit" data-toggle="modal"
                            data-target="#editMessageModal{{ message.id }}">
                            Edit Message
                        </button>
                    </div>
                    <!-- Modal for editing message -->
                    <div class="modal fade" id="editMessageModal{{ message.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="editMessageModalLabel{{ message.id }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="editMessageModalLabel{{ message.id }}">
                                        Edit Message</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" action="{% url 'edit_message' message.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="editMessageContent{{ message.id }}">Message Content:</label>
                                            <textarea class="form-control" id="editMessageContent{{ message.id }}"
                                                name="edit_message_content" rows="5">{{ message.message }}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}
