{% extends 'votingroot.html' %}
{% include 'votingsidebar.html' %}
{% block content %}
<section class="content">
    <br>
    <!-- The Final Countdown -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Final Countdown</title>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Lato:100,400);
            #the-final-countdown {
                background: green;
                /* Change background color to green */
                font-family: 'Lato', sans-serif;
                text-align: center;
                color: #eee;
                text-shadow: 1px 1px 5px black;
                padding: 1rem 0;
                font-size: 3rem;
                border: 1px solid #000;
            }
        </style>
    </head>
    <body>
        <div id="the-final-countdown">
            <p></p>
        </div>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script>
            setInterval(function time() {
                var d = new Date();
                var hours = 24 - d.getHours();
                var min = 60 - d.getMinutes();
                if ((min + '').length == 1) {
                    min = '0' + min;
                }
                var sec = 60 - d.getSeconds();
                if ((sec + '').length == 1) {
                    sec = '0' + sec;
                }
                jQuery('#the-final-countdown p').html(hours + ':' +
                    min + ':' + sec)
            }, 1000);
        </script>
    </body>
    </html>
    <!-- Your original content -->
    <h1 class="page-header text-center title"><b>{{ TITLE }}</b></h1>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="alert alert-danger alert-dismissible" id="alert"
                style="display:none;">
                <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
                <span class="message"></span>
            </div>
            <form method="POST" id="ballotForm"
                action="{% url 'submit_ballot' %}">
                {% csrf_token %}
                {{ ballot|safe }}
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-flat"
                        id="preview"><i class="fa fa-file-text"></i>
                        Preview</button>
                    <button type="submit" class="btn btn-primary btn-flat"
                        name="submit_vote"><i
                            class="fa fa-check-square-o"></i>Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}
{% endblock custom_js %}
{% block modal %}
<!-- Your modal HTML code... -->
{% endblock modal %}