<aside class="main-sidebar">
    <!-- Sidebar content -->
    <section class="sidebar">
        <!-- Sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active"><a href="{% url 'nominate_candidate' %}"><i class="fa fa-dashboard"></i>
                    <span>Nominate</span></a></li>
            <li><a href="{% url 'vote' %}"><i class="fa fa-users"></i>
                    <span>Vote</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>